{% extends "RayliApp/inicio.html" %}
{% load static %}
{% block title %}
    Tienda
{% endblock title %}

{% block body %}
<body>
<div class="">
    <div class="carousel carousel-slider center">
        <div class="carousel-fixed-item center">
          <a class="btn waves-effect white grey-text darken-text-2">button</a>
        </div>
        <div class="carousel-item  white-text " href="#one!">
            <img class="test" src="{% static 'RayliApp/images/mantenimiento.png' %}"></img >
        </div>
      </div>
            
</div>        

</body>
{% endblock body %}